.App {
text-align: center;
}

.FrontCardPos{
  position: absolute;
  z-index: 2;
  top: 10vh;
  left: 11vw;
}

.BodyPos{
  position: relative;
  z-index: -1;
}

.BackCardPos{
  position: absolute;
  z-index: 2;
  top: 381px;
  left: 191px;
}